#jobFilters {
	border: 1px solid gray;
	box-sizing: border-box;
	padding: 20px;
}

#jobListing {
	border: 1px solid gray;
	box-sizing: border-box;
	padding: 25px;
}

#jobListing:hover {
	border-bottom: 5px solid #2da2fc;
	background-color: #f7f7f7;
}

.buttonsContainer {
	padding-bottom: 10px;
}

.jobBoard {
	width: 80%;
	margin: 0 auto;
	opacity: 1;
	transition: .5s opacity;
}

.jobBoard.transition {
	opacity: 0;
}

.hero-banner {
	width: 100%;
}

.jobDetails {
	border-bottom: 2px dotted gray;
	color: red;
}

.textFieldEdit {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	background: none;
}

.editForm {
	color: red;
	border-bottom: 1px dotted red;
}