<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Jetpath | Take Your Gap Year</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js" charset="utf-8"></script>
<!--  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script> -->
  <script src="../js/app.js"></script>
  <script src="../js/controllers/jobsController.js"></script>
  <script src="../js/services/jobsFactory.js"></script>
  <script src="../js/directives/jobDirectives.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jobsPage.css">
</head>
<body ng-app='jetpathApp'>

  <h1>Jetpath</h1>
  {{2+2}}
  <section ng-controller='JobsController as jobs'>

  <div class='container'>

    <div id='jobFilters' class='row'>
      <div class='col-xs-4'>
        <label>Role</label>
        <select class="form-control" ng-model="vm.selectedCity" ng-options="jobs for jobs in jobs.all"></select>
      </div>
      <div class="col-xs-4">
        <label>Country</label>
        <select class="form-control" ng-model="vm.viewBy" ng-options="jobs for jobs in jobs.all"></select>
      </div>
      <div class="col-xs-4">
        <label>Compensation</label>
        <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
      </div>
    </div>

    <div ng-repeat='job in jobs.all' ng-click='showDetails = !showDetails' class='row' id='jobListing'>
      <div ng-show='showDetails'>
        <button type='button' class='btn btn-primary'>APPLY</button>
      </div>

      <div>{{job.name}}</div>
      <div>{{job.title}}</div>
      <div>{{job.description}}</div>
      <div>{{job.country}}</div>

      <div ng-show='showDetails'>
        <div>HELLO</div>
        <div>This is all the description</div>
      </div>
    </div>



  </div>

  </section>

</body>
</html>