<!-- Job Filters -->
<div class='jobBoard' ng-class="{'transition': jobs.isTransitioning}">

	<img class='image-banner' src="../css/images/hero-banner.jpg"/>

	<div id='jobFilters' class='row'>
	  <div class='col-xs-4'>
	    <label>Coutry</label>
	    <select class="form-control" ng-model="jobs.selectedCountry" ng-options="country for country in jobs.countries"></select>
	  </div>
	  <div class="col-xs-4">
	    <label>Role</label>
	    <select class="form-control" ng-model="vm.viewBy" ng-options="jobs for jobs in jobs.all"></select>
	  </div>
	  <div class="col-xs-4">
	    <label>Compensation</label>
	    <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
	  </div>
	</div>
	<!-- End -->

	<div ng-repeat='job in jobs.all | filter: jobs.selectedCountry' class='row' id='jobListing'>

	<!-- Hidden Apply Buttons -->
	  <div ng-show='showDetails' class='buttonsContainer'>
	    <button type='button' ng-click='jobs.jobApply()' class='btn btn-primary'>Apply</button>
	    <button type='button' ng-click='jobs.jobSave()' class='btn btn-default'>Save Job</button>
	  </div>
	<!-- End -->

	<div ng-click='showDetails = !showDetails'>
	  <h4>{{job.name}}</h4>
	  <div>{{job.title}}</div>
	  <div>{{job.description}}</div>
	  <div>{{job.country}}</div>
	</div>

	<!-- Hidden Addt'l Info Section -->
	  <div ng-show='showDetails' ng-click='showDetails = !showDetails'>
	  	<div class='jobDetails'>
		    <div>{{job.compensation.low}}</div>
		    <div>{{job.compensation.high}}</div>
		    <h1>hello</h1>
		</div>

		<div class='jobDetails'>
		    <ul>
		      <li ng-repeat='benefit in job.benefits'>{{benefit}}</li>
		    </ul>
		    <h1>hello</h1>
		</div>

		<div class='jobDetails'>
		    <ul>
		      <li ng-repeat='qualification in job.qualifications'>{{qualification}}</li>
		    </ul>
		    <h1>hello</h1>
		</div>

		<div class='jobDetails'>
		    <ul>
		      <li ng-repeat='preference in job.preferences'>{{preference}}</li>
		    </ul>
		    <h1>hello</h1>
		</div>

		<div class='jobDetails'>
	    	<div>{{job.additional}}</div>
	    	<h1>hello</h1>
	    </div>

	  </div>
	<!-- End -->
	</div>
</div>